{
	"openapi": "3.0.3",
	"info": {
		"description": "ConnectAPI is a family of APIs that standardize integration between provider and user of the services. It is designed to be RESTful, using standard HTTP\nmethods like GET, POST, and DELETE, and it primarily exchanges data in JSON format. ConnectAPI for transport focuses specifically on the transport services,\nincluding primarily flights, but also trains and buses.\n\nThe API definition below is designed to handle the whole lifecycle of the transport booking process, from searching for available transports to booking and\ncancelling them. The key functionalities of the Connect API for transport are:\n\n1. **Searching for Transports**: This endpoint lists all available transports based on the input criteria. Each transport comes with basic\n   information like departure and arrival dates and times, prices, carrier name, etc.\n\n2. **Retrieving Transport details**: This endpoint provides a detailed description of a specific transport.\n   It requires the ID of the transport offer as input.\n\n3. **Checking Transport Availability**: This endpoint extends the functionality above. In addition to providing transport details, it also verifies the\n   the current status of the transport's availability. This call returns a quote ID. The quote ID is used to book the transport.\n\n4. **Booking a Transport**: This endpoint enables booking a specific transport. It requires the ID of the transport quote and customer details for\n   a successful booking. This call returns a booking ID.\n\n5. **Canceling a Transport booking**: This endpoint cancels a specific Transport booking. It requires the booking ID to perform the cancellation.\n",
		"title": "Connect API for Transports",
		"version": "1.0.1"
	},
	"servers": [
		{
			"description": "production mock server",
			"url": "https://connectapi.stg.nezasa.com"
		}
	],
	"security": [
		{
			"ApiKeyAuth": []
		}
	],
	"tags": [
		{
			"name": "Heartbeat"
		},
		{
			"name": "Search"
		},
		{
			"name": "Book"
		},
		{
			"name": "Post Booking"
		}
	],
	"paths": {
		"/v1/heartbeat": {
			"get": {
				"description": "This endpoint, often known as a \"health check\" endpoint, is used for\nmonitoring and assessing the status of the service. Its main function\nis to signal the health of the service, aiding in identifying any\npotential issues or service breakdowns.\n\nTripBuilder will periodically call this endpoint to check the\nservice's status. The response from this health check endpoint is used\nto assess the current condition of the service. If the service is\noperating correctly, the endpoint will return a positive\nacknowledgment, i.e. a HTTP 200 status code and a message indicating\nthe service's health.\n\nOn the other hand, if the service is not functioning as expected, the\nendpoint will return an error status code and potentially additional\ndata about the issue's nature.\n\nThis proactive health check allows for prompt detection and\nresolution of issues, ensuring the service's reliability and smooth\nfunctioning.",
				"operationId": "TransportsV1_Heartbeat",
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Status"
								}
							}
						},
						"description": "Response to a successful call."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"security": [],
				"summary": "Healthcheck endpoint",
				"tags": ["Heartbeat"]
			}
		},
		"/v1/transports": {
			"post": {
				"description": "Obtain a list of transport offers (flights, trains, buses, ferries, etc.) for a set of connections. The connections are defined by a departure and arrival\nlocation and periods and can be further filtered by a set of filters.",
				"operationId": "TransportsV1_Offers",
				"parameters": [
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportOffersRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportOffersResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "Get a list of transport offers",
				"tags": ["Search"]
			}
		},
		"/v1/transports/rules": {
			"post": {
				"description": "Fetches a breakdown of price components for the given offer. Returns text.",
				"operationId": "TransportsV1_Rules",
				"parameters": [
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportRulesRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportRulesResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "Fetches fare rules",
				"tags": ["Search"]
			}
		},
		"/v1/transports/rules/{offerId}": {
			"post": {
				"description": "[Deprecated] Fetches a breakdown of price components for the given offer. Returns text.",
				"operationId": "TransportsV1_Rules_Deprecated",
				"parameters": [
					{
						"description": "ID",
						"in": "path",
						"name": "offerId",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportRulesRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportRulesResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "[Deprecated] Fetches fare rules",
				"tags": ["Search"]
			}
		},
		"/v1/transports/availability": {
			"post": {
				"description": "Confirm or re-quote one of the received offers. The offer can change due to the fact that original offer search may have employed caches.\nIt is a necessary step before booking.",
				"operationId": "TransportsV1_Availability",
				"parameters": [
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportAvailabilityRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportAvailabilityResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "Confirm or re-quote a transport offer",
				"tags": ["Book"]
			}
		},
		"/v1/transports/availability/{offerId}": {
			"post": {
				"description": "[Deprecated] Confirm or re-quote one of the received offers. The offer can change due to the fact that original offer search may have employed caches.\nIt is a necessary step before booking.",
				"operationId": "TransportsV1_Availability_Deprecated",
				"parameters": [
					{
						"description": "ID",
						"in": "path",
						"name": "offerId",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportAvailabilityRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportAvailabilityResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "[Deprecated] Confirm or re-quote a transport offer",
				"tags": ["Book"]
			}
		},
		"/v1/transports/book": {
			"post": {
				"description": "Book one of the received offers.",
				"operationId": "TransportsV1_Book",
				"parameters": [
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportBookRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportBookResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "Book a transport offer",
				"tags": ["Book"]
			}
		},
		"/v1/transports/book/{quoteId}": {
			"post": {
				"description": "[Deprecated] Book one of the received offers.",
				"operationId": "TransportsV1_Book_Deprecated",
				"parameters": [
					{
						"description": "ID",
						"in": "path",
						"name": "quoteId",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportBookRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportBookResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "[Deprecated] Book a transport offer",
				"tags": ["Book"]
			}
		},
		"/v1/transports/cancel": {
			"post": {
				"description": "If a successful booking was made before, it can be cancelled using this endpoint.",
				"operationId": "TransportsV1_Cancel",
				"parameters": [
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportCancelRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportCancelResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "Cancel the transport booking",
				"tags": ["Book"]
			}
		},
		"/v1/transports/cancel/{bookingId}": {
			"post": {
				"description": "[Deprecated] If a successful booking was made before, it can be cancelled using this endpoint.",
				"operationId": "TransportsV1_Cancel_Deprecated",
				"parameters": [
					{
						"description": "ID",
						"in": "path",
						"name": "bookingId",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportCancelRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportCancelResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "[Deprecated] Cancel the transport booking",
				"tags": ["Book"]
			}
		},
		"/v1/transports/retrieve": {
			"post": {
				"description": "If a successful booking was made before, it can be retrieved using this endpoint.",
				"operationId": "TransportsV1_Retrieve",
				"parameters": [
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportRetrieveRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportRetrieveResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "Fetch booking details",
				"tags": ["Post Booking"]
			}
		},
		"/v1/transports/retrieve/{bookingId}": {
			"post": {
				"description": "[Deprecated] If a successful booking was made before, it can be retrieved using this endpoint.",
				"operationId": "TransportsV1_Retrieve_Deprecated",
				"parameters": [
					{
						"description": "May be a plain PNR locator or other external system ID or it's derivative.",
						"in": "path",
						"name": "bookingId",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"description": "Customer Identifier (think: account, username, login) which triggers specific configuration, options or settings.\nIssued by Supplier. No other configuration parameters will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransportRetrieveRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"2xx": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransportRetrieveResponse"
								}
							}
						},
						"description": "A successful call response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "[Deprecated] Fetch booking details",
				"tags": ["Post Booking"]
			}
		}
	},
	"components": {
		"schemas": {
			"Status": {
				"example": {
					"code": 0,
					"details": ["details", "details"],
					"message": "message"
				},
				"properties": {
					"code": {
						"format": "int32",
						"type": "integer"
					},
					"message": {
						"type": "string"
					},
					"details": {
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"required": ["message"],
				"type": "object"
			},
			"ProblemResponse": {
				"properties": {
					"message": {
						"description": "A human-readable problem description in English. Maybe be shown to the end user of \nthe system. An actionable message whenever possible. Doesn't contain credentials \nand other secrets.",
						"example": "Customer phone number must start with a country code prefix, e.g +41.",
						"type": "string"
					},
					"code": {
						"description": "Identifies the error type. Snake case (using underscores).",
						"example": "invalid_argument",
						"type": "string"
					},
					"rawRequests": {
						"description": "A list of unprocessed requests to the supplier system. If no external system is\ninvolved, the list will be empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					},
					"rawResponses": {
						"description": "A list of unprocessed responses from the supplier system. If no external system is\ninvolved, the list will be empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"required": ["code", "message"],
				"type": "object"
			},
			"TransportOffersRequest": {
				"example": {
					"paxAges": [
						{
							"paxId": "pax1",
							"age": 27
						},
						{
							"paxId": "pax1",
							"age": 27
						}
					],
					"metadata": {
						"itineraryId": "1xinmvo5skro",
						"agencyId": "ABC12345"
					},
					"filters": {
						"allowAirportChange": true,
						"requireHoldBaggage": true,
						"fareTypes": ["PUBNEG", "NET"],
						"maxStops": 2,
						"includedCarriers": [],
						"maxDurationInMinutes": 180,
						"maxLayoverInMinutes": 120,
						"excludedCarriers": [
							{
								"iataCode": "LH"
							},
							{
								"iataCode": "BA"
							}
						],
						"transportTypes": "FLIGHT",
						"transportClasses": [
							{
								"flightClass": "FLIGHT_CLASS_ECONOMY"
							}
						]
					},
					"connections": [
						{
							"arrivalArea": {
								"iataCode": "NYC"
							},
							"departureMaxTime": "22:00",
							"departureLocation": {
								"iataCode": "CDG",
								"locationType": "AIRPORT",
								"terminal": "A"
							},
							"arrivalMaxTime": "18:00",
							"arrivalLocation": {
								"iataCode": "CDG",
								"locationType": "AIRPORT",
								"terminal": "A"
							},
							"arrivalDate": "2024-02-10",
							"departureMinTime": "08:00",
							"arrivalLocations": [
								{
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								},
								{
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								}
							],
							"arrivalMinTime": "08:00",
							"connectionId": "1",
							"departureArea": {
								"iataCode": "PAR"
							},
							"departureLocations": [
								{
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								},
								{
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								}
							],
							"departureDate": "2024-02-10"
						},
						{
							"arrivalArea": {
								"iataCode": "NYC"
							},
							"departureMaxTime": "22:00",
							"departureLocation": {
								"iataCode": "CDG",
								"locationType": "AIRPORT",
								"terminal": "A"
							},
							"arrivalMaxTime": "18:00",
							"arrivalLocation": {
								"iataCode": "CDG",
								"locationType": "AIRPORT",
								"terminal": "A"
							},
							"arrivalDate": "2024-02-10",
							"departureMinTime": "08:00",
							"arrivalLocations": [
								{
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								},
								{
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								}
							],
							"arrivalMinTime": "08:00",
							"connectionId": "1",
							"departureArea": {
								"iataCode": "PAR"
							},
							"departureLocations": [
								{
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								},
								{
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								}
							],
							"departureDate": "2024-02-10"
						}
					]
				},
				"properties": {
					"connections": {
						"description": "A list of transport connections.",
						"items": {
							"$ref": "#/components/schemas/RequestTransportConnection"
						},
						"type": "array"
					},
					"paxAges": {
						"description": "The ages of the passengers.",
						"items": {
							"$ref": "#/components/schemas/PaxAge"
						},
						"type": "array"
					},
					"filters": {
						"$ref": "#/components/schemas/Filters"
					},
					"metadata": {
						"$ref": "#/components/schemas/Metadata"
					}
				},
				"type": "object"
			},
			"TransportOffersResponse": {
				"example": {
					"offers": [
						{
							"componentSourceType": "Private",
							"fareTypes": ["NET"],
							"ticketingLimitDate": "2022-12-31",
							"pnrCount": 1,
							"pricePerPax": [
								{
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"priceBreakdown": {
										"commissions": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"percentage": 10.6,
												"name": "name"
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"percentage": 10.6,
												"name": "name"
											}
										],
										"surcharges": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											}
										],
										"netPrice": {
											"currency": "EUR",
											"value": "230.2"
										},
										"taxes": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											}
										]
									},
									"paxId": "paxId"
								},
								{
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"priceBreakdown": {
										"commissions": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"percentage": 10.6,
												"name": "name"
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"percentage": 10.6,
												"name": "name"
											}
										],
										"surcharges": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											}
										],
										"netPrice": {
											"currency": "EUR",
											"value": "230.2"
										},
										"taxes": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											}
										]
									},
									"paxId": "paxId"
								}
							],
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"offerId": "offerId",
							"priceBreakdown": {
								"commissions": [
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 10.6,
										"name": "name"
									},
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 10.6,
										"name": "name"
									}
								],
								"surcharges": [
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"name": "name",
										"chargeType": "SURCHARGE_TAX_TYPE_NONE",
										"included": true
									},
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"name": "name",
										"chargeType": "SURCHARGE_TAX_TYPE_NONE",
										"included": true
									}
								],
								"netPrice": {
									"currency": "EUR",
									"value": "230.2"
								},
								"taxes": [
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"name": "name",
										"chargeType": "SURCHARGE_TAX_TYPE_NONE",
										"included": true
									},
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"name": "name",
										"chargeType": "SURCHARGE_TAX_TYPE_NONE",
										"included": true
									}
								]
							},
							"passengerRequiredFields": {
								"isPassportIssuingCountryCodeRequired": true,
								"isPassportNumberRequired": true,
								"isPassportExpirationDateRequired": true,
								"isNationalityRequired": true
							},
							"connections": [
								{
									"departureTime": "13:15",
									"departureLocation": {
										"iataCode": "CDG",
										"locationType": "AIRPORT",
										"terminal": "A"
									},
									"distance": {
										"unit": "MILES",
										"value": 123.56
									},
									"arrivalTime": "15:49",
									"connectionId": "connectionId",
									"transportType": "FLIGHT",
									"departureDate": "2024-02-10",
									"arrivalLocation": {
										"iataCode": "CDG",
										"locationType": "AIRPORT",
										"terminal": "A"
									},
									"arrivalDate": "2024-02-10",
									"segments": [
										{
											"departureTime": "13:15",
											"bookingClassCode": "bookingClassCode",
											"brandedFareDescription": "Seat selection",
											"distance": {
												"unit": "MILES",
												"value": 123.56
											},
											"seats": [
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												},
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												}
											],
											"numberOfTechnicalStops": 0,
											"vehicle": "Airbus A220-300 Passenger",
											"brandedFareId": "Basic",
											"arrivalTime": "15:49",
											"vendor": "AMADEUS",
											"segmentId": "1",
											"transportClass": {
												"flightClass": "FLIGHT_CLASS_ECONOMY"
											},
											"transportNumber": "LX1348",
											"fareFamilyName": "Economy Saver Plus",
											"transportType": null,
											"departureDate": "2024-02-10",
											"airlineReference": "VY/U44M8",
											"operatingCarrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"departureLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"durationInMinutes": 115,
											"vehicleCode": "14F",
											"baggagesPerPax": [
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												},
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												}
											],
											"arrivalLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"arrivalDate": "2024-02-10",
											"carrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"operatingTransportNumber": "LO 5054"
										},
										{
											"departureTime": "13:15",
											"bookingClassCode": "bookingClassCode",
											"brandedFareDescription": "Seat selection",
											"distance": {
												"unit": "MILES",
												"value": 123.56
											},
											"seats": [
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												},
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												}
											],
											"numberOfTechnicalStops": 0,
											"vehicle": "Airbus A220-300 Passenger",
											"brandedFareId": "Basic",
											"arrivalTime": "15:49",
											"vendor": "AMADEUS",
											"segmentId": "1",
											"transportClass": {
												"flightClass": "FLIGHT_CLASS_ECONOMY"
											},
											"transportNumber": "LX1348",
											"fareFamilyName": "Economy Saver Plus",
											"transportType": null,
											"departureDate": "2024-02-10",
											"airlineReference": "VY/U44M8",
											"operatingCarrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"departureLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"durationInMinutes": 115,
											"vehicleCode": "14F",
											"baggagesPerPax": [
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												},
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												}
											],
											"arrivalLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"arrivalDate": "2024-02-10",
											"carrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"operatingTransportNumber": "LO 5054"
										}
									]
								},
								{
									"departureTime": "13:15",
									"departureLocation": {
										"iataCode": "CDG",
										"locationType": "AIRPORT",
										"terminal": "A"
									},
									"distance": {
										"unit": "MILES",
										"value": 123.56
									},
									"arrivalTime": "15:49",
									"connectionId": "connectionId",
									"transportType": "FLIGHT",
									"departureDate": "2024-02-10",
									"arrivalLocation": {
										"iataCode": "CDG",
										"locationType": "AIRPORT",
										"terminal": "A"
									},
									"arrivalDate": "2024-02-10",
									"segments": [
										{
											"departureTime": "13:15",
											"bookingClassCode": "bookingClassCode",
											"brandedFareDescription": "Seat selection",
											"distance": {
												"unit": "MILES",
												"value": 123.56
											},
											"seats": [
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												},
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												}
											],
											"numberOfTechnicalStops": 0,
											"vehicle": "Airbus A220-300 Passenger",
											"brandedFareId": "Basic",
											"arrivalTime": "15:49",
											"vendor": "AMADEUS",
											"segmentId": "1",
											"transportClass": {
												"flightClass": "FLIGHT_CLASS_ECONOMY"
											},
											"transportNumber": "LX1348",
											"fareFamilyName": "Economy Saver Plus",
											"transportType": null,
											"departureDate": "2024-02-10",
											"airlineReference": "VY/U44M8",
											"operatingCarrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"departureLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"durationInMinutes": 115,
											"vehicleCode": "14F",
											"baggagesPerPax": [
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												},
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												}
											],
											"arrivalLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"arrivalDate": "2024-02-10",
											"carrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"operatingTransportNumber": "LO 5054"
										},
										{
											"departureTime": "13:15",
											"bookingClassCode": "bookingClassCode",
											"brandedFareDescription": "Seat selection",
											"distance": {
												"unit": "MILES",
												"value": 123.56
											},
											"seats": [
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												},
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												}
											],
											"numberOfTechnicalStops": 0,
											"vehicle": "Airbus A220-300 Passenger",
											"brandedFareId": "Basic",
											"arrivalTime": "15:49",
											"vendor": "AMADEUS",
											"segmentId": "1",
											"transportClass": {
												"flightClass": "FLIGHT_CLASS_ECONOMY"
											},
											"transportNumber": "LX1348",
											"fareFamilyName": "Economy Saver Plus",
											"transportType": null,
											"departureDate": "2024-02-10",
											"airlineReference": "VY/U44M8",
											"operatingCarrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"departureLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"durationInMinutes": 115,
											"vehicleCode": "14F",
											"baggagesPerPax": [
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												},
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												}
											],
											"arrivalLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"arrivalDate": "2024-02-10",
											"carrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"operatingTransportNumber": "LO 5054"
										}
									]
								}
							],
							"ticketingLimitTime": "23:59"
						},
						{
							"componentSourceType": "Private",
							"fareTypes": ["NET"],
							"ticketingLimitDate": "2022-12-31",
							"pnrCount": 1,
							"pricePerPax": [
								{
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"priceBreakdown": {
										"commissions": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"percentage": 10.6,
												"name": "name"
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"percentage": 10.6,
												"name": "name"
											}
										],
										"surcharges": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											}
										],
										"netPrice": {
											"currency": "EUR",
											"value": "230.2"
										},
										"taxes": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											}
										]
									},
									"paxId": "paxId"
								},
								{
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"priceBreakdown": {
										"commissions": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"percentage": 10.6,
												"name": "name"
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"percentage": 10.6,
												"name": "name"
											}
										],
										"surcharges": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											}
										],
										"netPrice": {
											"currency": "EUR",
											"value": "230.2"
										},
										"taxes": [
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											},
											{
												"amount": {
													"currency": "EUR",
													"value": "230.2"
												},
												"name": "name",
												"chargeType": "SURCHARGE_TAX_TYPE_NONE",
												"included": true
											}
										]
									},
									"paxId": "paxId"
								}
							],
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"offerId": "offerId",
							"priceBreakdown": {
								"commissions": [
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 10.6,
										"name": "name"
									},
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 10.6,
										"name": "name"
									}
								],
								"surcharges": [
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"name": "name",
										"chargeType": "SURCHARGE_TAX_TYPE_NONE",
										"included": true
									},
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"name": "name",
										"chargeType": "SURCHARGE_TAX_TYPE_NONE",
										"included": true
									}
								],
								"netPrice": {
									"currency": "EUR",
									"value": "230.2"
								},
								"taxes": [
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"name": "name",
										"chargeType": "SURCHARGE_TAX_TYPE_NONE",
										"included": true
									},
									{
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"name": "name",
										"chargeType": "SURCHARGE_TAX_TYPE_NONE",
										"included": true
									}
								]
							},
							"passengerRequiredFields": {
								"isPassportIssuingCountryCodeRequired": true,
								"isPassportNumberRequired": true,
								"isPassportExpirationDateRequired": true,
								"isNationalityRequired": true
							},
							"connections": [
								{
									"departureTime": "13:15",
									"departureLocation": {
										"iataCode": "CDG",
										"locationType": "AIRPORT",
										"terminal": "A"
									},
									"distance": {
										"unit": "MILES",
										"value": 123.56
									},
									"arrivalTime": "15:49",
									"connectionId": "connectionId",
									"transportType": "FLIGHT",
									"departureDate": "2024-02-10",
									"arrivalLocation": {
										"iataCode": "CDG",
										"locationType": "AIRPORT",
										"terminal": "A"
									},
									"arrivalDate": "2024-02-10",
									"segments": [
										{
											"departureTime": "13:15",
											"bookingClassCode": "bookingClassCode",
											"brandedFareDescription": "Seat selection",
											"distance": {
												"unit": "MILES",
												"value": 123.56
											},
											"seats": [
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												},
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												}
											],
											"numberOfTechnicalStops": 0,
											"vehicle": "Airbus A220-300 Passenger",
											"brandedFareId": "Basic",
											"arrivalTime": "15:49",
											"vendor": "AMADEUS",
											"segmentId": "1",
											"transportClass": {
												"flightClass": "FLIGHT_CLASS_ECONOMY"
											},
											"transportNumber": "LX1348",
											"fareFamilyName": "Economy Saver Plus",
											"transportType": null,
											"departureDate": "2024-02-10",
											"airlineReference": "VY/U44M8",
											"operatingCarrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"departureLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"durationInMinutes": 115,
											"vehicleCode": "14F",
											"baggagesPerPax": [
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												},
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												}
											],
											"arrivalLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"arrivalDate": "2024-02-10",
											"carrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"operatingTransportNumber": "LO 5054"
										},
										{
											"departureTime": "13:15",
											"bookingClassCode": "bookingClassCode",
											"brandedFareDescription": "Seat selection",
											"distance": {
												"unit": "MILES",
												"value": 123.56
											},
											"seats": [
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												},
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												}
											],
											"numberOfTechnicalStops": 0,
											"vehicle": "Airbus A220-300 Passenger",
											"brandedFareId": "Basic",
											"arrivalTime": "15:49",
											"vendor": "AMADEUS",
											"segmentId": "1",
											"transportClass": {
												"flightClass": "FLIGHT_CLASS_ECONOMY"
											},
											"transportNumber": "LX1348",
											"fareFamilyName": "Economy Saver Plus",
											"transportType": null,
											"departureDate": "2024-02-10",
											"airlineReference": "VY/U44M8",
											"operatingCarrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"departureLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"durationInMinutes": 115,
											"vehicleCode": "14F",
											"baggagesPerPax": [
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												},
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												}
											],
											"arrivalLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"arrivalDate": "2024-02-10",
											"carrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"operatingTransportNumber": "LO 5054"
										}
									]
								},
								{
									"departureTime": "13:15",
									"departureLocation": {
										"iataCode": "CDG",
										"locationType": "AIRPORT",
										"terminal": "A"
									},
									"distance": {
										"unit": "MILES",
										"value": 123.56
									},
									"arrivalTime": "15:49",
									"connectionId": "connectionId",
									"transportType": "FLIGHT",
									"departureDate": "2024-02-10",
									"arrivalLocation": {
										"iataCode": "CDG",
										"locationType": "AIRPORT",
										"terminal": "A"
									},
									"arrivalDate": "2024-02-10",
									"segments": [
										{
											"departureTime": "13:15",
											"bookingClassCode": "bookingClassCode",
											"brandedFareDescription": "Seat selection",
											"distance": {
												"unit": "MILES",
												"value": 123.56
											},
											"seats": [
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												},
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												}
											],
											"numberOfTechnicalStops": 0,
											"vehicle": "Airbus A220-300 Passenger",
											"brandedFareId": "Basic",
											"arrivalTime": "15:49",
											"vendor": "AMADEUS",
											"segmentId": "1",
											"transportClass": {
												"flightClass": "FLIGHT_CLASS_ECONOMY"
											},
											"transportNumber": "LX1348",
											"fareFamilyName": "Economy Saver Plus",
											"transportType": null,
											"departureDate": "2024-02-10",
											"airlineReference": "VY/U44M8",
											"operatingCarrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"departureLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"durationInMinutes": 115,
											"vehicleCode": "14F",
											"baggagesPerPax": [
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												},
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												}
											],
											"arrivalLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"arrivalDate": "2024-02-10",
											"carrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"operatingTransportNumber": "LO 5054"
										},
										{
											"departureTime": "13:15",
											"bookingClassCode": "bookingClassCode",
											"brandedFareDescription": "Seat selection",
											"distance": {
												"unit": "MILES",
												"value": 123.56
											},
											"seats": [
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												},
												{
													"column": "A",
													"paxId": "1",
													"row": "10"
												}
											],
											"numberOfTechnicalStops": 0,
											"vehicle": "Airbus A220-300 Passenger",
											"brandedFareId": "Basic",
											"arrivalTime": "15:49",
											"vendor": "AMADEUS",
											"segmentId": "1",
											"transportClass": {
												"flightClass": "FLIGHT_CLASS_ECONOMY"
											},
											"transportNumber": "LX1348",
											"fareFamilyName": "Economy Saver Plus",
											"transportType": null,
											"departureDate": "2024-02-10",
											"airlineReference": "VY/U44M8",
											"operatingCarrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"departureLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"durationInMinutes": 115,
											"vehicleCode": "14F",
											"baggagesPerPax": [
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												},
												{
													"maxAge": 2,
													"baggageOffers": [
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														},
														{
															"maxWeightInKg": 7,
															"baggageType": "BAGGAGE_TYPE_HAND",
															"maxWidthInCm": 80,
															"maxHeightInCm": 120,
															"maxLengthInCm": 60,
															"salesPrice": {
																"currency": "EUR",
																"value": "230.2"
															},
															"maxSumInCm": 220,
															"remark": "Invoiced separately.",
															"included": true,
															"maxCount": 1
														}
													],
													"minAge": 0,
													"paxId": "pax1"
												}
											],
											"arrivalLocation": {
												"iataCode": "CDG",
												"locationType": "AIRPORT",
												"terminal": "A"
											},
											"arrivalDate": "2024-02-10",
											"carrier": {
												"iataCode": "LH",
												"icaoCode": "DLH",
												"name": "Air France"
											},
											"operatingTransportNumber": "LO 5054"
										}
									]
								}
							],
							"ticketingLimitTime": "23:59"
						}
					],
					"rawRequests": ["{ queryId: 1257, success: true }"],
					"rawResponses": ["{ queryId: 1257, success: true }"]
				},
				"properties": {
					"offers": {
						"description": "List of transport available offers.",
						"items": {
							"$ref": "#/components/schemas/TransportOffer"
						},
						"type": "array"
					},
					"rawRequests": {
						"description": "If there's communication with an external system, a list of unprocessed requests from the query will be provided. If no external system is involved, the list may be empty. The list is sorted by the request time and the possible secrets, including credentials, are masked.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					},
					"rawResponses": {
						"description": "If there's communication with an external system, a list of unprocessed responses from the query will be provided. If no external system is involved, the list may be empty. The list is sorted by the request time and the possible secrets, including credentials, are masked.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"type": "object"
			},
			"TransportRulesRequest": {
				"example": {
					"metadata": {
						"itineraryId": "1xinmvo5skro",
						"agencyId": "ABC12345"
					},
					"quoteId": "quoteId"
				},
				"properties": {
					"quoteId": {
						"description": "The `offerId` of the quote returned from the availability check which rules to retrieve.",
						"type": "string"
					},
					"metadata": {
						"$ref": "#/components/schemas/Metadata"
					}
				},
				"type": "object"
			},
			"TransportRulesResponse": {
				"example": {
					"rawRequests": ["{ queryId: 1257, success: true }"],
					"text": "text",
					"rawResponses": ["{ queryId: 1257, success: true }"]
				},
				"properties": {
					"text": {
						"type": "string"
					},
					"rawRequests": {
						"description": "If there's communication with an external system, a list of unprocessed requests from the query will be provided. If no external system is involved, the list may be empty. The list is sorted by the request time and the possible secrets, including credentials, are masked.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					},
					"rawResponses": {
						"description": "If there's communication with an external system, a list of unprocessed responses from the query will be provided. If no external system is involved, the list may be empty. The list is sorted by the request time and the possible secrets, including credentials, are masked.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"required": ["text"],
				"type": "object"
			},
			"TransportAvailabilityRequest": {
				"example": {
					"paxAges": [
						{
							"paxId": "pax1",
							"age": 27
						},
						{
							"paxId": "pax1",
							"age": 27
						}
					],
					"metadata": {
						"itineraryId": "1xinmvo5skro",
						"agencyId": "ABC12345"
					},
					"offerId": "offerId"
				},
				"properties": {
					"offerId": {
						"description": "The `offerId` identifying the offer from the search results.",
						"type": "string"
					},
					"paxAges": {
						"description": "The ages of the passengers.",
						"items": {
							"$ref": "#/components/schemas/PaxAge"
						},
						"type": "array"
					},
					"metadata": {
						"$ref": "#/components/schemas/Metadata"
					}
				},
				"type": "object"
			},
			"TransportAvailabilityResponse": {
				"example": {
					"quote": {
						"componentSourceType": "Private",
						"fareTypes": ["NET"],
						"ticketingLimitDate": "2022-12-31",
						"pnrCount": 1,
						"pricePerPax": [
							{
								"salesPrice": {
									"currency": "EUR",
									"value": "230.2"
								},
								"priceBreakdown": {
									"commissions": [
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 10.6,
											"name": "name"
										},
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 10.6,
											"name": "name"
										}
									],
									"surcharges": [
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"name": "name",
											"chargeType": "SURCHARGE_TAX_TYPE_NONE",
											"included": true
										},
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"name": "name",
											"chargeType": "SURCHARGE_TAX_TYPE_NONE",
											"included": true
										}
									],
									"netPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"taxes": [
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"name": "name",
											"chargeType": "SURCHARGE_TAX_TYPE_NONE",
											"included": true
										},
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"name": "name",
											"chargeType": "SURCHARGE_TAX_TYPE_NONE",
											"included": true
										}
									]
								},
								"paxId": "paxId"
							},
							{
								"salesPrice": {
									"currency": "EUR",
									"value": "230.2"
								},
								"priceBreakdown": {
									"commissions": [
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 10.6,
											"name": "name"
										},
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 10.6,
											"name": "name"
										}
									],
									"surcharges": [
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"name": "name",
											"chargeType": "SURCHARGE_TAX_TYPE_NONE",
											"included": true
										},
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"name": "name",
											"chargeType": "SURCHARGE_TAX_TYPE_NONE",
											"included": true
										}
									],
									"netPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"taxes": [
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"name": "name",
											"chargeType": "SURCHARGE_TAX_TYPE_NONE",
											"included": true
										},
										{
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"name": "name",
											"chargeType": "SURCHARGE_TAX_TYPE_NONE",
											"included": true
										}
									]
								},
								"paxId": "paxId"
							}
						],
						"salesPrice": {
							"currency": "EUR",
							"value": "230.2"
						},
						"offerId": "offerId",
						"priceBreakdown": {
							"commissions": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"percentage": 10.6,
									"name": "name"
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"percentage": 10.6,
									"name": "name"
								}
							],
							"surcharges": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"name": "name",
									"chargeType": "SURCHARGE_TAX_TYPE_NONE",
									"included": true
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"name": "name",
									"chargeType": "SURCHARGE_TAX_TYPE_NONE",
									"included": true
								}
							],
							"netPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"taxes": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"name": "name",
									"chargeType": "SURCHARGE_TAX_TYPE_NONE",
									"included": true
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"name": "name",
									"chargeType": "SURCHARGE_TAX_TYPE_NONE",
									"included": true
								}
							]
						},
						"passengerRequiredFields": {
							"isPassportIssuingCountryCodeRequired": true,
							"isPassportNumberRequired": true,
							"isPassportExpirationDateRequired": true,
							"isNationalityRequired": true
						},
						"connections": [
							{
								"departureTime": "13:15",
								"departureLocation": {
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								},
								"distance": {
									"unit": "MILES",
									"value": 123.56
								},
								"arrivalTime": "15:49",
								"connectionId": "connectionId",
								"transportType": "FLIGHT",
								"departureDate": "2024-02-10",
								"arrivalLocation": {
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								},
								"arrivalDate": "2024-02-10",
								"segments": [
									{
										"departureTime": "13:15",
										"bookingClassCode": "bookingClassCode",
										"brandedFareDescription": "Seat selection",
										"distance": {
											"unit": "MILES",
											"value": 123.56
										},
										"seats": [
											{
												"column": "A",
												"paxId": "1",
												"row": "10"
											},
											{
												"column": "A",
												"paxId": "1",
												"row": "10"
											}
										],
										"numberOfTechnicalStops": 0,
										"vehicle": "Airbus A220-300 Passenger",
										"brandedFareId": "Basic",
										"arrivalTime": "15:49",
										"vendor": "AMADEUS",
										"segmentId": "1",
										"transportClass": {
											"flightClass": "FLIGHT_CLASS_ECONOMY"
										},
										"transportNumber": "LX1348",
										"fareFamilyName": "Economy Saver Plus",
										"transportType": null,
										"departureDate": "2024-02-10",
										"airlineReference": "VY/U44M8",
										"operatingCarrier": {
											"iataCode": "LH",
											"icaoCode": "DLH",
											"name": "Air France"
										},
										"departureLocation": {
											"iataCode": "CDG",
											"locationType": "AIRPORT",
											"terminal": "A"
										},
										"durationInMinutes": 115,
										"vehicleCode": "14F",
										"baggagesPerPax": [
											{
												"maxAge": 2,
												"baggageOffers": [
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													},
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													}
												],
												"minAge": 0,
												"paxId": "pax1"
											},
											{
												"maxAge": 2,
												"baggageOffers": [
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													},
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													}
												],
												"minAge": 0,
												"paxId": "pax1"
											}
										],
										"arrivalLocation": {
											"iataCode": "CDG",
											"locationType": "AIRPORT",
											"terminal": "A"
										},
										"arrivalDate": "2024-02-10",
										"carrier": {
											"iataCode": "LH",
											"icaoCode": "DLH",
											"name": "Air France"
										},
										"operatingTransportNumber": "LO 5054"
									},
									{
										"departureTime": "13:15",
										"bookingClassCode": "bookingClassCode",
										"brandedFareDescription": "Seat selection",
										"distance": {
											"unit": "MILES",
											"value": 123.56
										},
										"seats": [
											{
												"column": "A",
												"paxId": "1",
												"row": "10"
											},
											{
												"column": "A",
												"paxId": "1",
												"row": "10"
											}
										],
										"numberOfTechnicalStops": 0,
										"vehicle": "Airbus A220-300 Passenger",
										"brandedFareId": "Basic",
										"arrivalTime": "15:49",
										"vendor": "AMADEUS",
										"segmentId": "1",
										"transportClass": {
											"flightClass": "FLIGHT_CLASS_ECONOMY"
										},
										"transportNumber": "LX1348",
										"fareFamilyName": "Economy Saver Plus",
										"transportType": null,
										"departureDate": "2024-02-10",
										"airlineReference": "VY/U44M8",
										"operatingCarrier": {
											"iataCode": "LH",
											"icaoCode": "DLH",
											"name": "Air France"
										},
										"departureLocation": {
											"iataCode": "CDG",
											"locationType": "AIRPORT",
											"terminal": "A"
										},
										"durationInMinutes": 115,
										"vehicleCode": "14F",
										"baggagesPerPax": [
											{
												"maxAge": 2,
												"baggageOffers": [
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													},
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													}
												],
												"minAge": 0,
												"paxId": "pax1"
											},
											{
												"maxAge": 2,
												"baggageOffers": [
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													},
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													}
												],
												"minAge": 0,
												"paxId": "pax1"
											}
										],
										"arrivalLocation": {
											"iataCode": "CDG",
											"locationType": "AIRPORT",
											"terminal": "A"
										},
										"arrivalDate": "2024-02-10",
										"carrier": {
											"iataCode": "LH",
											"icaoCode": "DLH",
											"name": "Air France"
										},
										"operatingTransportNumber": "LO 5054"
									}
								]
							},
							{
								"departureTime": "13:15",
								"departureLocation": {
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								},
								"distance": {
									"unit": "MILES",
									"value": 123.56
								},
								"arrivalTime": "15:49",
								"connectionId": "connectionId",
								"transportType": "FLIGHT",
								"departureDate": "2024-02-10",
								"arrivalLocation": {
									"iataCode": "CDG",
									"locationType": "AIRPORT",
									"terminal": "A"
								},
								"arrivalDate": "2024-02-10",
								"segments": [
									{
										"departureTime": "13:15",
										"bookingClassCode": "bookingClassCode",
										"brandedFareDescription": "Seat selection",
										"distance": {
											"unit": "MILES",
											"value": 123.56
										},
										"seats": [
											{
												"column": "A",
												"paxId": "1",
												"row": "10"
											},
											{
												"column": "A",
												"paxId": "1",
												"row": "10"
											}
										],
										"numberOfTechnicalStops": 0,
										"vehicle": "Airbus A220-300 Passenger",
										"brandedFareId": "Basic",
										"arrivalTime": "15:49",
										"vendor": "AMADEUS",
										"segmentId": "1",
										"transportClass": {
											"flightClass": "FLIGHT_CLASS_ECONOMY"
										},
										"transportNumber": "LX1348",
										"fareFamilyName": "Economy Saver Plus",
										"transportType": null,
										"departureDate": "2024-02-10",
										"airlineReference": "VY/U44M8",
										"operatingCarrier": {
											"iataCode": "LH",
											"icaoCode": "DLH",
											"name": "Air France"
										},
										"departureLocation": {
											"iataCode": "CDG",
											"locationType": "AIRPORT",
											"terminal": "A"
										},
										"durationInMinutes": 115,
										"vehicleCode": "14F",
										"baggagesPerPax": [
											{
												"maxAge": 2,
												"baggageOffers": [
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													},
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													}
												],
												"minAge": 0,
												"paxId": "pax1"
											},
											{
												"maxAge": 2,
												"baggageOffers": [
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													},
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													}
												],
												"minAge": 0,
												"paxId": "pax1"
											}
										],
										"arrivalLocation": {
											"iataCode": "CDG",
											"locationType": "AIRPORT",
											"terminal": "A"
										},
										"arrivalDate": "2024-02-10",
										"carrier": {
											"iataCode": "LH",
											"icaoCode": "DLH",
											"name": "Air France"
										},
										"operatingTransportNumber": "LO 5054"
									},
									{
										"departureTime": "13:15",
										"bookingClassCode": "bookingClassCode",
										"brandedFareDescription": "Seat selection",
										"distance": {
											"unit": "MILES",
											"value": 123.56
										},
										"seats": [
											{
												"column": "A",
												"paxId": "1",
												"row": "10"
											},
											{
												"column": "A",
												"paxId": "1",
												"row": "10"
											}
										],
										"numberOfTechnicalStops": 0,
										"vehicle": "Airbus A220-300 Passenger",
										"brandedFareId": "Basic",
										"arrivalTime": "15:49",
										"vendor": "AMADEUS",
										"segmentId": "1",
										"transportClass": {
											"flightClass": "FLIGHT_CLASS_ECONOMY"
										},
										"transportNumber": "LX1348",
										"fareFamilyName": "Economy Saver Plus",
										"transportType": null,
										"departureDate": "2024-02-10",
										"airlineReference": "VY/U44M8",
										"operatingCarrier": {
											"iataCode": "LH",
											"icaoCode": "DLH",
											"name": "Air France"
										},
										"departureLocation": {
											"iataCode": "CDG",
											"locationType": "AIRPORT",
											"terminal": "A"
										},
										"durationInMinutes": 115,
										"vehicleCode": "14F",
										"baggagesPerPax": [
											{
												"maxAge": 2,
												"baggageOffers": [
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													},
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													}
												],
												"minAge": 0,
												"paxId": "pax1"
											},
											{
												"maxAge": 2,
												"baggageOffers": [
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													},
													{
														"maxWeightInKg": 7,
														"baggageType": "BAGGAGE_TYPE_HAND",
														"maxWidthInCm": 80,
														"maxHeightInCm": 120,
														"maxLengthInCm": 60,
														"salesPrice": {
															"currency": "EUR",
															"value": "230.2"
														},
														"maxSumInCm": 220,
														"remark": "Invoiced separately.",
														"included": true,
														"maxCount": 1
													}
												],
												"minAge": 0,
												"paxId": "pax1"
											}
										],
										"arrivalLocation": {
											"iataCode": "CDG",
											"locationType": "AIRPORT",
											"terminal": "A"
										},
										"arrivalDate": "2024-02-10",
										"carrier": {
											"iataCode": "LH",
											"icaoCode": "DLH",
											"name": "Air France"
										},
										"operatingTransportNumber": "LO 5054"
									}
								]
							}
						],
						"ticketingLimitTime": "23:59"
					},
					"persistedStorage": "persistedStorage",
					"rawRequests": ["{ queryId: 1257, success: true }"],
					"rawResponses": ["{ queryId: 1257, success: true }"]
				},
				"properties": {
					"quote": {
						"$ref": "#/components/schemas/TransportOffer"
					},
					"persistedStorage": {
						"description": "This field, serves as a repository for any pertinent data that need to pass across subsequent interactions, its content should be minimal. It remains unaltered by TripBuilder and is solely stored and returned in its original form.",
						"type": "string"
					},
					"rawRequests": {
						"description": "If there's communication with an external system, a list of unprocessed requests from the query will be provided. If no external system is involved, the list may be empty. The list is sorted by the request time and the possible secrets, including credentials, are masked.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					},
					"rawResponses": {
						"description": "If there's communication with an external system, a list of unprocessed responses from the query will be provided. If no external system is involved, the list may be empty. The list is sorted by the request time and the possible secrets, including credentials, are masked.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"type": "object"
			},
			"TransportBookRequest": {
				"example": {
					"passengers": [
						{
							"passportNumber": "C3045654",
							"lastName": "Riverdance",
							"address": {
								"country": "Germany",
								"city": "Littletown",
								"street": "132, My Street",
								"countryCode": "DE",
								"postalCode": "BG23 4YZ",
								"street2": "street2",
								"region": "region"
							},
							"gender": "Male",
							"supplierRefId": "supplierRefId",
							"passengerReduction": "passengerReduction",
							"secondOrAdditionalNames": [
								"secondOrAdditionalNames",
								"secondOrAdditionalNames"
							],
							"title": "MR",
							"birthDate": "1990-01-01",
							"firstName": "Mike",
[...]
