{
	"openapi": "3.0.3",
	"info": {
		"description": "The connectAPI for accommodations defines a service API that lets users search for, \nview, book, and cancel accommodations via TripBuilder.\n\nKey Features:\n\n1. **Get List of Accommodations**: Retrieves a list of all available accommodations, \n    including basic details like code, room description, and price.\n2. **Get Accommodation Details**: Provides detailed information about a specific \n    accommodation using its reference.\n3. **Check Accommodation Availability**: Shows the current availability status of \n    an accommodation along with its description.\n4. **Book an Accommodation**: Allows users to book an accommodation offer using its \n    reference and user details.\n5. **Cancel Booking**: Enables users to cancel a booking using its booking reference.\n\nThis API is designed to be RESTful, using standard HTTP methods like\nGET, POST, and DELETE, and it primarily exchanges data in JSON format.\n\n### Change History\n\n| API Version | Docs Version | Changes                                                                                                                     |\n|-------------|--------------|-----------------------------------------------------------------------------------------------------------------------------|\n| 1.0         | 31.07.2023   | Initial version                                                                                                             |\n| 1.1         | 05.06.2024   | Extended spec to support Book and Cancel actions                                                                            |\n| 1.2         | 04.10.2024   | Extended spec to split offer between search and details offer.                                                              |\n|             |              | Added support for available board codes and cancellation policies in search offer model.                                    |\n|             |              | Removed deprecated location field from search and details offer                                                             |\n\n### Authentication\nAll API requests must be made over HTTPS.",
		"title": "Connect API for Accommodations",
		"version": "1.2.0"
	},
	"servers": [
		{
			"description": "production mock server",
			"url": "https://connectapi.stg.nezasa.com"
		}
	],
	"security": [
		{
			"ApiKeyAuth": []
		},
		{
			"BearerAuth": []
		}
	],
	"paths": {
		"/v1/heartbeat": {
			"get": {
				"description": "This endpoint, often known as a \"health check\" endpoint, is used for\nmonitoring and assessing the status of the service. Its main function\nis to signal the health of the service, aiding in identifying any\npotential issues or service breakdowns.\n\nTripBuilder will periodically call this endpoint to check the\nservice's status. The response from this health check endpoint is used\nto assess the current condition of the service. If the service is\noperating correctly, the endpoint will return a positive\nacknowledgment, i.e. a HTTP 200 status code and a message indicating\nthe service's health.\n\nOn the other hand, if the service is not functioning as expected, the\nendpoint will return an error status code and potentially additional\ndata about the issue's nature.\n\nThis proactive health check allows for prompt detection and\nresolution of issues, ensuring the service's reliability and smooth\nfunctioning.",
				"operationId": "AccommodationsV1_Ping",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Status"
								}
							}
						},
						"description": "A successful response."
					},
					"default": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Response to an unsuccessful call."
					}
				},
				"summary": "A method for healthcheck purposes",
				"tags": ["Heartbeat"]
			}
		},
		"/v1/accommodations": {
			"post": {
				"description": "This API uses POST instead of GET for some read operations.\nThis is due to the complexity and size of some queries.\n\nIn HTTP/1.1, GET is typically used for data retrieval. It\nshould be safe and idempotent, causing no side effects.\nHowever, GET has limitations with complex queries or\nlarge data. For instance, some servers or browsers limit\nthe maximum URL length for GET requests.\n\nPOST requests carry their data in the body of the request.\nThis allows for larger and more complex data to be sent.\nThis is useful when the data volume or complexity of\nquery parameters exceeds GET limitations.\n\nIn this API, POST is used for some read operations to\novercome these GET limitations. This allows handling\nof complex queries and large data effectively,\nensuring reliable and efficient API operation.",
				"operationId": "AccommodationsV1_Offers",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					},
					{
						"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"example": "nicetours, 123456",
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccommodationOffersRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccommodationOffersResponse"
								}
							}
						},
						"description": "A successful response."
					},
					"400": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
					},
					"404": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Not Found. The requested resource could not be found."
					},
					"500": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Internal Server Error. An unexpected condition was encountered."
					}
				},
				"summary": "Get a list of accommodation offers.",
				"tags": ["Offers"]
			}
		},
		"/v1/accommodations/details": {
			"post": {
				"operationId": "AccommodationsV1_OfferDetails",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					},
					{
						"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"example": "nicetours, 123456",
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccommodationOfferDetailsRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccommodationOfferDetailsResponse"
								}
							}
						},
						"description": "A successful response."
					},
					"400": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
					},
					"404": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Not Found. The requested resource could not be found."
					},
					"500": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Internal Server Error. An unexpected condition was encountered."
					}
				},
				"summary": "Get the details of an accommodation offer",
				"tags": ["OfferDetails"]
			}
		},
		"/v1/accommodations/details/{accommodationCode}": {
			"post": {
				"operationId": "AccommodationsV1_OfferDetails_Deprecated",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					},
					{
						"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"example": "nicetours, 123456",
							"type": "string"
						}
					},
					{
						"description": "Required accommodation code in one of the formats supported by Nezasa.",
						"in": "path",
						"name": "accommodationCode",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccommodationOfferDetailsRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccommodationOfferDetailsResponse"
								}
							}
						},
						"description": "A successful response."
					},
					"400": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
					},
					"404": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Not Found. The requested resource could not be found."
					},
					"500": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Internal Server Error. An unexpected condition was encountered."
					}
				},
				"summary": "[Deprecated] Get the details of an accommodation offer",
				"tags": ["OfferDetails"]
			}
		},
		"/v1/accommodations/availability": {
			"post": {
				"description": "When the users selects an offer, or before Tripbuilder books an offer, we check\navailability. This ensures that the offer is still available at the same price\nwith the same amenities and room types. The offer reference provided by the\nintegration partner must contain all the information needed to uniquely\nidentify the offer and subsequent booking.",
				"operationId": "AccommodationsV1_Availability",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					},
					{
						"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"example": "nicetours, 123456",
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccommodationAvailabilityRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccommodationAvailabilityResponse"
								}
							}
						},
						"description": "A successful response."
					},
					"400": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
					},
					"404": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Not Found. The requested resource could not be found."
					},
					"500": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Internal Server Error. An unexpected condition was encountered."
					}
				},
				"summary": "Check availability of accommodation offer before booking.",
				"tags": ["Availability"]
			}
		},
		"/v1/accommodations/availability/{reference}": {
			"post": {
				"description": "When the users selects an offer, or before Tripbuilder books an offer, we check\navailability. This ensures that the offer is still available at the same price\nwith the same amenities and room types. The offer reference provided by the\nintegration partner must contain all the information needed to uniquely\nidentify the offer and subsequent booking.",
				"operationId": "AccommodationsV1_Availability_Deprecated",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					},
					{
						"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"example": "nicetours, 123456",
							"type": "string"
						}
					},
					{
						"description": "The reference allows the integration partner to uniquely identify the offer.\nIt is limited to 2000 characters. \nNote that TripBuilder does not parse or interpret the booking reference. The integration\npartner can encode necessary information within the reference to facilitate the booking\noperation while maintaining a stateless approach.\nCustomers can plan their trip in advance and book the accommodation later. Therefore,\nif the offer is still valid, the reference must retain its validity until the booking\ntakes place.\nBecause it is in path of the URL, the reference may be URL-encoded.",
						"in": "path",
						"name": "reference",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccommodationAvailabilityRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccommodationAvailabilityResponse"
								}
							}
						},
						"description": "A successful response."
					},
					"400": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
					},
					"404": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Not Found. The requested resource could not be found."
					},
					"500": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Internal Server Error. An unexpected condition was encountered."
					}
				},
				"summary": "[Deprecated] Check availability of accommodation offer before booking.",
				"tags": ["Availability"]
			}
		},
		"/v1/accommodations/bookings": {
			"delete": {
				"description": "Cancels a reservation for a given booking reference. The booking reference is\nreturned by the book response. The integration partner must use this reference to\nuniquely identify and cancel the booking. If the booking consists of more that one\nroom, the integration partner must cancel each room individually.",
				"operationId": "AccommodationsV1_Cancel",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					},
					{
						"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"example": "nicetours, 123456",
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccommodationCancelRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccommodationCancelResponse"
								}
							}
						},
						"description": "A successful response."
					},
					"400": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
					},
					"404": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Not Found. The requested resource could not be found."
					},
					"500": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Internal Server Error. An unexpected condition was encountered."
					}
				},
				"summary": "Cancels a reservation",
				"tags": ["Cancel"]
			},
			"post": {
				"description": "Books an offer in the supplier system. If the offer includes more than one room and\nthe supplier system does not support multi-room bookings, TripBuilder expects the\nintegration partner to book multiple rooms. This means the integration partner must\nmanage errors themselves.",
				"operationId": "AccommodationsV1_Book",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					},
					{
						"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"example": "nicetours, 123456",
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccommodationBookingRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccommodationBookingResponse"
								}
							}
						},
						"description": "A successful response."
					},
					"400": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
					},
					"404": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Not Found. The requested resource could not be found."
					},
					"500": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Internal Server Error. An unexpected condition was encountered."
					}
				},
				"summary": "Book an offer in the supplier system",
				"tags": ["Book"]
			}
		},
		"/v1/accommodations/bookings/{reference}": {
			"delete": {
				"description": "Cancels a reservation for a given booking reference. The booking reference is\nreturned by the book response. The integration partner must use this reference to\nuniquely identify and cancel the booking. If the booking consists of more that one\nroom, the integration partner must cancel each room individually.",
				"operationId": "AccommodationsV1_Cancel_Deprecated",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					},
					{
						"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"example": "nicetours, 123456",
							"type": "string"
						}
					},
					{
						"description": "The booking reference returned by the book response. This reference allows the\nintegration partner to uniquely identify the booking. It is limited to 2000 characters. Note that\nTripBuilder does not parse or interpret the booking reference.\nThe integration partner can encode necessary information within the reference to\nfacilitate booking cancellation while maintaining a stateless approach.\nBecause it is in path of the URL, the reference may be URL-encoded.",
						"example": "SGVsbG8gd29ybGQ",
						"in": "path",
						"name": "reference",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccommodationCancelResponse"
								}
							}
						},
						"description": "A successful response."
					},
					"400": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
					},
					"404": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Not Found. The requested resource could not be found."
					},
					"500": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Internal Server Error. An unexpected condition was encountered."
					}
				},
				"summary": "[Deprecated] Cancels a reservation",
				"tags": ["Cancel"]
			},
			"post": {
				"description": "Books an offer in the supplier system. If the offer includes more than one room and\nthe supplier system does not support multi-room bookings, TripBuilder expects the\nintegration partner to book multiple rooms. This means the integration partner must\nmanage errors themselves.",
				"operationId": "AccommodationsV1_Book_Deprecated",
				"parameters": [
					{
						"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
						"in": "header",
						"name": "traceparent",
						"required": false,
						"schema": {
							"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
							"type": "string"
						}
					},
					{
						"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
						"in": "header",
						"name": "Contract-Id",
						"required": true,
						"schema": {
							"example": "nicetours, 123456",
							"type": "string"
						}
					},
					{
						"description": "The offer reference returned by the availability response. This reference allows\nthe integration partner to uniquely identify the booking. It is limited to 2000 characters. Note that\nTripBuilder does not parse or interpret the booking reference. The integration\npartner can encode necessary information within the reference to facilitate\nbooking cancellation while maintaining a stateless approach.\nBecause it is in path of the URL, the reference may be URL-encoded.",
						"example": "SGVsbG8gd29ybGQ",
						"in": "path",
						"name": "reference",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccommodationBookingRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccommodationBookingResponse"
								}
							}
						},
						"description": "A successful response."
					},
					"400": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
					},
					"404": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Not Found. The requested resource could not be found."
					},
					"500": {
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/ProblemResponse"
								}
							}
						},
						"description": "Internal Server Error. An unexpected condition was encountered."
					}
				},
				"summary": "[Deprecated] Book an offer in the supplier system",
				"tags": ["Book"]
			}
		}
	},
	"components": {
		"parameters": {
			"TraceparentHeader": {
				"description": "For tracking and debugging, we will include a tracing header with every request. This\ntrace ID follows the W3C Trace Context standard. Users can see this same header in the\nTrip Builder API responses and match it with data in the Supplier system if needed.",
				"in": "header",
				"name": "traceparent",
				"required": false,
				"schema": {
					"example": "00-666b4b3800000000089918a4bf7e8d29-40eeac6740412d3f-01",
					"type": "string"
				}
			},
			"ContractIdHeader": {
				"description": "An identifier of the contract to differentiate configuration, options or settings.\nNo other configuration parameter will be supplied by Nezasa.",
				"in": "header",
				"name": "Contract-Id",
				"required": true,
				"schema": {
					"example": "nicetours, 123456",
					"type": "string"
				}
			}
		},
		"responses": {
			"BadRequest": {
				"content": {
					"application/problem+json": {
						"schema": {
							"$ref": "#/components/schemas/ProblemResponse"
						}
					}
				},
				"description": "Bad Request. The request cannot be fulfilled due to bad syntax."
			},
			"NotFound": {
				"content": {
					"application/problem+json": {
						"schema": {
							"$ref": "#/components/schemas/ProblemResponse"
						}
					}
				},
				"description": "Not Found. The requested resource could not be found."
			},
			"InternalServerError": {
				"content": {
					"application/problem+json": {
						"schema": {
							"$ref": "#/components/schemas/ProblemResponse"
						}
					}
				},
				"description": "Internal Server Error. An unexpected condition was encountered."
			}
		},
		"schemas": {
			"Status": {
				"example": {
					"code": 0,
					"details": ["details", "details"],
					"message": "message"
				},
				"properties": {
					"code": {
						"format": "int32",
						"type": "integer"
					},
					"message": {
						"type": "string"
					},
					"details": {
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"required": ["message"],
				"type": "object"
			},
			"ProblemResponse": {
				"properties": {
					"message": {
						"description": "A human-readable problem description in English. Maybe be shown to the end user of \nthe system. An actionable message whenever possible. Doesn't contain credentials \nand other secrets.",
						"example": "Customer phone number must start with a country code prefix, e.g +41.",
						"type": "string"
					},
					"code": {
						"description": "Identifies the error type. Snake case (using underscores).",
						"example": "invalid_argument",
						"type": "string"
					},
					"rawRequests": {
						"description": "A list of unprocessed requests to the supplier system. If no external system is\ninvolved, the list will be empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					},
					"rawResponses": {
						"description": "A list of unprocessed responses from the supplier system. If no external system is\ninvolved, the list will be empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": ["{ queryId: 1257, success: true }"],
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"required": ["code", "message"],
				"type": "object"
			},
			"AccommodationOffersRequest": {
				"description": "Request to search for accommodations based on the given criteria.\nMandatory criteria are the travel period, the room allocation and the accommodation codes.\nAdditionally can also support filtering by board codes, on request and non-refundable offers.",
				"example": {
					"market": "DE",
					"period": {
						"endDate": "2023-08-14",
						"nights": 1,
						"startTime": "12:00:00",
						"endTime": "16:00:00",
						"startDate": "2024-08-01"
					},
					"accommodationCodes": ["123456", "123456"],
					"onRequest": false,
					"roomAllocation": [
						{
							"reference": 1,
							"paxes": [
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								},
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								}
							]
						},
						{
							"reference": 1,
							"paxes": [
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								},
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								}
							]
						}
					],
					"currency": "EUR",
					"paging": {
						"resultsFrom": 1,
						"total": 0,
						"pageSize": 6
					},
					"boardCodes": ["BB", "BB"],
					"lang": "de",
					"nonRefundable": false,
					"purchaseChannel": "K"
				},
				"properties": {
					"currency": {
						"description": "Preferred currency. 3-letter code (ISO 4217).",
						"example": "EUR",
						"type": "string"
					},
					"lang": {
						"$ref": "#/components/schemas/Language"
					},
					"paging": {
						"$ref": "#/components/schemas/CommonPaging"
					},
					"period": {
						"$ref": "#/components/schemas/CommonTravelPeriod"
					},
					"accommodationCodes": {
						"description": "Required accommodation codes in one of the formats supported by Nezasa.",
						"items": {
							"example": "123456",
							"type": "string"
						},
						"type": "array"
					},
					"roomAllocation": {
						"description": "Required room allocation",
						"items": {
							"$ref": "#/components/schemas/RoomAllocation"
						},
						"type": "array"
					},
					"boardCodes": {
						"default": [],
						"description": "Required Nezasa board codes. For possible values, see AccommodationRoom in AccommodationOffer. No filtering will be applied if left empty.",
						"items": {
							"example": "BB",
							"type": "string"
						},
						"type": "array"
					},
					"onRequest": {
						"default": false,
						"description": "Whether to return on request offers in the response",
						"example": false,
						"type": "boolean"
					},
					"nonRefundable": {
						"default": false,
						"description": "Whether to return non-refundable offers in the response",
						"example": false,
						"type": "boolean"
					},
					"market": {
						"description": "Market country or point-of-sale. 2 letters code of the country (ISO 3166-1 alpha-2)",
						"example": "DE",
						"type": "string"
					},
					"purchaseChannel": {
						"description": "Channel (in supplier-specific format) via which the content is offered",
						"example": "K",
						"type": "string"
					}
				},
				"required": [
					"accommodationCodes",
					"currency",
					"lang",
					"paging",
					"period",
					"roomAllocation"
				],
				"title": "Request for accommodations",
				"type": "object"
			},
			"AccommodationOffersResponse": {
				"description": "Response providing a list of accommodation offers.",
				"example": {
					"offers": [
						{
							"availableBoardCodes": ["BB", "BB"],
							"rooms": [
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								},
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								}
							],
							"onRequest": true,
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"supplierExtras": {
								"isExternal": true,
								"location": [
									{
										"locationType": "Country",
										"locationCode": "MAD"
									},
									{
										"locationType": "Country",
										"locationCode": "MAD"
									}
								]
							},
							"accommodationName": "Hotel name",
							"reference": "reference",
							"accommodationCode": "123456",
							"availableCancellationPolicies": [
								{
									"rules": [
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										},
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										}
									],
									"cancellationType": "Unknown"
								},
								{
									"rules": [
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										},
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										}
									],
									"cancellationType": "Unknown"
								}
							],
							"supplier": "supplier",
							"surcharges": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								}
							],
							"promoCode": "promoCode",
							"cancellationPolicy": {
								"rules": [
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									},
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									}
								],
								"cancellationType": "Unknown"
							},
							"remarks": [
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								},
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								}
							]
						},
						{
							"availableBoardCodes": ["BB", "BB"],
							"rooms": [
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								},
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								}
							],
							"onRequest": true,
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"supplierExtras": {
								"isExternal": true,
								"location": [
									{
										"locationType": "Country",
										"locationCode": "MAD"
									},
									{
										"locationType": "Country",
										"locationCode": "MAD"
									}
								]
							},
							"accommodationName": "Hotel name",
							"reference": "reference",
							"accommodationCode": "123456",
							"availableCancellationPolicies": [
								{
									"rules": [
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										},
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										}
									],
									"cancellationType": "Unknown"
								},
								{
									"rules": [
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										},
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										}
									],
									"cancellationType": "Unknown"
								}
							],
							"supplier": "supplier",
							"surcharges": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								}
							],
							"promoCode": "promoCode",
							"cancellationPolicy": {
								"rules": [
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									},
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									}
								],
								"cancellationType": "Unknown"
							},
							"remarks": [
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								},
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								}
							]
						}
					],
					"accommodations": [
						{
							"availableBoardCodes": ["BB", "BB"],
							"rooms": [
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								},
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								}
							],
							"onRequest": true,
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"supplierExtras": {
								"isExternal": true,
								"location": [
									{
										"locationType": "Country",
										"locationCode": "MAD"
									},
									{
										"locationType": "Country",
										"locationCode": "MAD"
									}
								]
							},
							"accommodationName": "Hotel name",
							"reference": "reference",
							"accommodationCode": "123456",
							"availableCancellationPolicies": [
								{
									"rules": [
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										},
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										}
									],
									"cancellationType": "Unknown"
								},
								{
									"rules": [
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										},
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										}
									],
									"cancellationType": "Unknown"
								}
							],
							"supplier": "supplier",
							"surcharges": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								}
							],
							"promoCode": "promoCode",
							"cancellationPolicy": {
								"rules": [
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									},
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									}
								],
								"cancellationType": "Unknown"
							},
							"remarks": [
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								},
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								}
							]
						},
						{
							"availableBoardCodes": ["BB", "BB"],
							"rooms": [
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								},
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								}
							],
							"onRequest": true,
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"supplierExtras": {
								"isExternal": true,
								"location": [
									{
										"locationType": "Country",
										"locationCode": "MAD"
									},
									{
										"locationType": "Country",
										"locationCode": "MAD"
									}
								]
							},
							"accommodationName": "Hotel name",
							"reference": "reference",
							"accommodationCode": "123456",
							"availableCancellationPolicies": [
								{
									"rules": [
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										},
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										}
									],
									"cancellationType": "Unknown"
								},
								{
									"rules": [
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										},
										{
											"startDatetime": "2023-08-01T00:00:00",
											"amount": {
												"currency": "EUR",
												"value": "230.2"
											},
											"percentage": 50,
											"endDatetime": "2023-08-01T23:59:00"
										}
									],
									"cancellationType": "Unknown"
								}
							],
							"supplier": "supplier",
							"surcharges": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								}
							],
							"promoCode": "promoCode",
							"cancellationPolicy": {
								"rules": [
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									},
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									}
								],
								"cancellationType": "Unknown"
							},
							"remarks": [
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								},
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								}
							]
						}
					],
					"rawRequests": [
						"{ \"queryId\": 1257, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"ABC123\", \"reason\": \"Client request\" }, \"requestTime\": \"2024-06-15T14:30:00Z\", \"success\": true }",
						"{ \"queryId\": 1258, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"XYZ789\", \"reason\": \"System error\" }, \"requestTime\": \"2024-06-15T14:31:00Z\", \"success\": false }"
					],
					"paging": {
						"resultsFrom": 1,
						"total": 0,
						"pageSize": 6
					},
					"notifications": [
						{
							"notificationLevel": "Info",
							"description": "description",
							"notificationType": "InputValidation"
						},
						{
							"notificationLevel": "Info",
							"description": "description",
							"notificationType": "InputValidation"
						}
					],
					"rawResponses": [
						"{ \"queryId\": 1257, \"responseTime\": \"2024-06-15T14:30:05Z\", \"statusCode\": 200, \"body\": { \"message\": \"Cancellation confirmed\", \"cancellationId\": \"CANC123\" } }",
						"{ \"queryId\": 1258, \"responseTime\": \"2024-06-15T14:31:05Z\", \"statusCode\": 500, \"body\": { \"error\": \"Internal server error\" } }"
					]
				},
				"properties": {
					"accommodations": {
						"items": {
							"$ref": "#/components/schemas/AccommodationSearchOffer"
						},
						"title": "[Deprecated] Use offers field instead.",
						"type": "array"
					},
					"offers": {
						"description": "List of accommodation offers for the request accommodation codes. Not an exhaustive list of offers of accommodations.\nWhen possible, returns the cheapest offer per every of accommodation code and offer cancellation type. Otherwise, returns the cheapest offer per\naccommodation code, understanding that the customer won't necessarily see the accommodation offer if they look for offers with a particular cancellation\ntype.",
						"items": {
							"$ref": "#/components/schemas/AccommodationSearchOffer"
						},
						"title": "List of accommodation offers.",
						"type": "array"
					},
					"paging": {
						"$ref": "#/components/schemas/CommonPaging"
					},
					"notifications": {
						"items": {
							"$ref": "#/components/schemas/CommonNotification"
						},
						"title": "[Deprecated] Use a non-200 code response with ProblemResponse instead",
						"type": "array"
					},
					"rawRequests": {
						"description": "A list of unprocessed requests to the supplier system. If no external system is\ninvolved, the list is empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": [
							"{ \"queryId\": 1257, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"ABC123\", \"reason\": \"Client request\" }, \"requestTime\": \"2024-06-15T14:30:00Z\", \"success\": true }",
							"{ \"queryId\": 1258, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"XYZ789\", \"reason\": \"System error\" }, \"requestTime\": \"2024-06-15T14:31:00Z\", \"success\": false }"
						],
						"items": {
							"type": "string"
						},
						"type": "array"
					},
					"rawResponses": {
						"description": "A list of unprocessed responses from the supplier system. If no external system is\ninvolved, the list is empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": [
							"{ \"queryId\": 1257, \"responseTime\": \"2024-06-15T14:30:05Z\", \"statusCode\": 200, \"body\": { \"message\": \"Cancellation confirmed\", \"cancellationId\": \"CANC123\" } }",
							"{ \"queryId\": 1258, \"responseTime\": \"2024-06-15T14:31:05Z\", \"statusCode\": 500, \"body\": { \"error\": \"Internal server error\" } }"
						],
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"type": "object"
			},
			"AccommodationOfferDetailsRequest": {
				"description": "Request to check the full accommodation details of an offer.\nUses the accommodation code of the hotel.",
				"example": {
					"market": "DE",
					"accommodationCode": "123456",
					"period": {
						"endDate": "2023-08-14",
						"nights": 1,
						"startTime": "12:00:00",
						"endTime": "16:00:00",
						"startDate": "2024-08-01"
					},
					"onRequest": false,
					"roomAllocation": [
						{
							"reference": 1,
							"paxes": [
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								},
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								}
							]
						},
						{
							"reference": 1,
							"paxes": [
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								},
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								}
							]
						}
					],
					"currency": "EUR",
					"boardCodes": ["BB", "BB"],
					"lang": "de",
					"nonRefundable": false,
					"purchaseChannel": "K"
				},
				"properties": {
					"accommodationCode": {
						"description": "Required accommodation code in one of the formats supported by Nezasa.",
						"example": "123456",
						"type": "string"
					},
					"currency": {
						"description": "Preferred currency. 3-letter code (ISO 4217).",
						"example": "EUR",
						"type": "string"
					},
					"lang": {
						"$ref": "#/components/schemas/Language"
					},
					"period": {
						"$ref": "#/components/schemas/CommonTravelPeriod"
					},
					"roomAllocation": {
						"description": "Required room allocation",
						"items": {
							"$ref": "#/components/schemas/RoomAllocation"
						},
						"type": "array"
					},
					"boardCodes": {
						"default": [],
						"description": "Required Nezasa board codes. For possible values, see AccommodationRoom in AccommodationOffer. No filtering will be applied if left empty.",
						"items": {
							"example": "BB",
							"type": "string"
						},
						"type": "array"
					},
					"onRequest": {
						"default": false,
						"description": "Whether to return on request offers",
						"example": false,
						"type": "boolean"
					},
					"nonRefundable": {
						"default": false,
						"description": "Whether to return non-refundable offers",
						"example": false,
						"type": "boolean"
					},
					"market": {
						"description": "Market country or point-of-sale. 2 letters code of the country (ISO 3166-1 alpha-2)",
						"example": "DE",
						"type": "string"
					},
					"purchaseChannel": {
						"description": "Channel (in supplier-specific format) via which the content is offered",
						"example": "K",
						"type": "string"
					}
				},
				"required": ["currency", "lang", "period", "roomAllocation"],
				"title": "Request for accommodation details",
				"type": "object"
			},
			"AccommodationOfferDetailsResponse": {
				"description": "Response providing the details of an accommodation offer.",
				"example": {
					"offers": [
						{
							"reference": "reference",
							"accommodationCode": "123456",
							"rooms": [
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								},
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								}
							],
							"onRequest": true,
							"supplier": "supplier",
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"surcharges": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								}
							],
							"promoCode": "promoCode",
							"supplierExtras": {
								"isExternal": true,
								"location": [
									{
										"locationType": "Country",
										"locationCode": "MAD"
									},
									{
										"locationType": "Country",
										"locationCode": "MAD"
									}
								]
							},
							"cancellationPolicy": {
								"rules": [
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									},
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									}
								],
								"cancellationType": "Unknown"
							},
							"remarks": [
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								},
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								}
							],
							"accommodationName": "Hotel name"
						},
						{
							"reference": "reference",
							"accommodationCode": "123456",
							"rooms": [
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								},
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								}
							],
							"onRequest": true,
							"supplier": "supplier",
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"surcharges": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								}
							],
							"promoCode": "promoCode",
							"supplierExtras": {
								"isExternal": true,
								"location": [
									{
										"locationType": "Country",
										"locationCode": "MAD"
									},
									{
										"locationType": "Country",
										"locationCode": "MAD"
									}
								]
							},
							"cancellationPolicy": {
								"rules": [
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									},
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									}
								],
								"cancellationType": "Unknown"
							},
							"remarks": [
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								},
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								}
							],
							"accommodationName": "Hotel name"
						}
					],
					"accommodations": [
						{
							"reference": "reference",
							"accommodationCode": "123456",
							"rooms": [
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								},
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								}
							],
							"onRequest": true,
							"supplier": "supplier",
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"surcharges": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								}
							],
							"promoCode": "promoCode",
							"supplierExtras": {
								"isExternal": true,
								"location": [
									{
										"locationType": "Country",
										"locationCode": "MAD"
									},
									{
										"locationType": "Country",
										"locationCode": "MAD"
									}
								]
							},
							"cancellationPolicy": {
								"rules": [
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									},
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									}
								],
								"cancellationType": "Unknown"
							},
							"remarks": [
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								},
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								}
							],
							"accommodationName": "Hotel name"
						},
						{
							"reference": "reference",
							"accommodationCode": "123456",
							"rooms": [
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								},
								{
									"allocationReference": 1,
									"salesPrice": {
										"currency": "EUR",
										"value": "230.2"
									},
									"boardCode": "BB",
									"name": "Family room with sea view",
									"roomCode": "DBL"
								}
							],
							"onRequest": true,
							"supplier": "supplier",
							"salesPrice": {
								"currency": "EUR",
								"value": "230.2"
							},
							"surcharges": [
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								},
								{
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"description": "City tax",
									"included": true,
									"mandatory": false
								}
							],
							"promoCode": "promoCode",
							"supplierExtras": {
								"isExternal": true,
								"location": [
									{
										"locationType": "Country",
										"locationCode": "MAD"
									},
									{
										"locationType": "Country",
										"locationCode": "MAD"
									}
								]
							},
							"cancellationPolicy": {
								"rules": [
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									},
									{
										"startDatetime": "2023-08-01T00:00:00",
										"amount": {
											"currency": "EUR",
											"value": "230.2"
										},
										"percentage": 50,
										"endDatetime": "2023-08-01T23:59:00"
									}
								],
								"cancellationType": "Unknown"
							},
							"remarks": [
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								},
								{
									"language": "de",
									"text": "Check-in time at 15:00. Check-out time at 11:00.",
									"lang": "de"
								}
							],
							"accommodationName": "Hotel name"
						}
					],
					"rawRequests": [
						"{ \"queryId\": 1257, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"ABC123\", \"reason\": \"Client request\" }, \"requestTime\": \"2024-06-15T14:30:00Z\", \"success\": true }",
						"{ \"queryId\": 1258, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"XYZ789\", \"reason\": \"System error\" }, \"requestTime\": \"2024-06-15T14:31:00Z\", \"success\": false }"
					],
					"notifications": [
						{
							"notificationLevel": "Info",
							"description": "description",
							"notificationType": "InputValidation"
						},
						{
							"notificationLevel": "Info",
							"description": "description",
							"notificationType": "InputValidation"
						}
					],
					"rawResponses": [
						"{ \"queryId\": 1257, \"responseTime\": \"2024-06-15T14:30:05Z\", \"statusCode\": 200, \"body\": { \"message\": \"Cancellation confirmed\", \"cancellationId\": \"CANC123\" } }",
						"{ \"queryId\": 1258, \"responseTime\": \"2024-06-15T14:31:05Z\", \"statusCode\": 500, \"body\": { \"error\": \"Internal server error\" } }"
					]
				},
				"properties": {
					"accommodations": {
						"items": {
							"$ref": "#/components/schemas/AccommodationDetailsOffer"
						},
						"title": "[Deprecated] Use offers field instead.",
						"type": "array"
					},
					"offers": {
						"items": {
							"$ref": "#/components/schemas/AccommodationDetailsOffer"
						},
						"title": "List of accommodation offers of the selected accommodation",
						"type": "array"
					},
					"notifications": {
						"items": {
							"$ref": "#/components/schemas/CommonNotification"
						},
						"title": "[Deprecated] Use a non-200 code response with ProblemResponse instead",
						"type": "array"
					},
					"rawRequests": {
						"description": "A list of unprocessed requests to the supplier system. If no external system is\ninvolved, the list is empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": [
							"{ \"queryId\": 1257, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"ABC123\", \"reason\": \"Client request\" }, \"requestTime\": \"2024-06-15T14:30:00Z\", \"success\": true }",
							"{ \"queryId\": 1258, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"XYZ789\", \"reason\": \"System error\" }, \"requestTime\": \"2024-06-15T14:31:00Z\", \"success\": false }"
						],
						"items": {
							"type": "string"
						},
						"type": "array"
					},
					"rawResponses": {
						"description": "A list of unprocessed responses from the supplier system. If no external system is\ninvolved, the list is empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": [
							"{ \"queryId\": 1257, \"responseTime\": \"2024-06-15T14:30:05Z\", \"statusCode\": 200, \"body\": { \"message\": \"Cancellation confirmed\", \"cancellationId\": \"CANC123\" } }",
							"{ \"queryId\": 1258, \"responseTime\": \"2024-06-15T14:31:05Z\", \"statusCode\": 500, \"body\": { \"error\": \"Internal server error\" } }"
						],
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"type": "object"
			},
			"AccommodationAvailabilityRequest": {
				"description": "Check if the accommodation offer is available. Use the `offerReference` provided \nby the offer search or details.",
				"example": {
					"reference": "reference",
					"market": "DE",
					"currency": "EUR",
					"lang": "de"
				},
				"properties": {
					"reference": {
						"description": "The offer `reference` returned from the accommodations details call.",
						"type": "string"
					},
					"currency": {
						"description": "Preferred currency. 3-letter code (ISO 4217).",
						"example": "EUR",
						"type": "string"
					},
					"lang": {
						"$ref": "#/components/schemas/Language"
					},
					"market": {
						"description": "2 letters code of the country (ISO 3166-1 alpha-2)",
						"example": "DE",
						"title": "Market country or point-of-sale.",
						"type": "string"
					}
				},
				"required": ["currency", "lang"],
				"title": "Check accommodation availability",
				"type": "object"
			},
			"AccommodationAvailabilityResponse": {
				"description": "Response providing the details of an accommodation offer.",
				"example": {
					"accommodation": {
						"reference": "reference",
						"accommodationCode": "123456",
						"rooms": [
							{
								"allocationReference": 1,
								"salesPrice": {
									"currency": "EUR",
									"value": "230.2"
								},
								"boardCode": "BB",
								"name": "Family room with sea view",
								"roomCode": "DBL"
							},
							{
								"allocationReference": 1,
								"salesPrice": {
									"currency": "EUR",
									"value": "230.2"
								},
								"boardCode": "BB",
								"name": "Family room with sea view",
								"roomCode": "DBL"
							}
						],
						"onRequest": true,
						"supplier": "supplier",
						"salesPrice": {
							"currency": "EUR",
							"value": "230.2"
						},
						"surcharges": [
							{
								"amount": {
									"currency": "EUR",
									"value": "230.2"
								},
								"description": "City tax",
								"included": true,
								"mandatory": false
							},
							{
								"amount": {
									"currency": "EUR",
									"value": "230.2"
								},
								"description": "City tax",
								"included": true,
								"mandatory": false
							}
						],
						"promoCode": "promoCode",
						"supplierExtras": {
							"isExternal": true,
							"location": [
								{
									"locationType": "Country",
									"locationCode": "MAD"
								},
								{
									"locationType": "Country",
									"locationCode": "MAD"
								}
							]
						},
						"cancellationPolicy": {
							"rules": [
								{
									"startDatetime": "2023-08-01T00:00:00",
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"percentage": 50,
									"endDatetime": "2023-08-01T23:59:00"
								},
								{
									"startDatetime": "2023-08-01T00:00:00",
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"percentage": 50,
									"endDatetime": "2023-08-01T23:59:00"
								}
							],
							"cancellationType": "Unknown"
						},
						"remarks": [
							{
								"language": "de",
								"text": "Check-in time at 15:00. Check-out time at 11:00.",
								"lang": "de"
							},
							{
								"language": "de",
								"text": "Check-in time at 15:00. Check-out time at 11:00.",
								"lang": "de"
							}
						],
						"accommodationName": "Hotel name"
					},
					"rawRequests": [
						"{ \"queryId\": 1257, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"ABC123\", \"reason\": \"Client request\" }, \"requestTime\": \"2024-06-15T14:30:00Z\", \"success\": true }",
						"{ \"queryId\": 1258, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"XYZ789\", \"reason\": \"System error\" }, \"requestTime\": \"2024-06-15T14:31:00Z\", \"success\": false }"
					],
					"notifications": [
						{
							"notificationLevel": "Info",
							"description": "description",
							"notificationType": "InputValidation"
						},
						{
							"notificationLevel": "Info",
							"description": "description",
							"notificationType": "InputValidation"
						}
					],
					"rawResponses": [
						"{ \"queryId\": 1257, \"responseTime\": \"2024-06-15T14:30:05Z\", \"statusCode\": 200, \"body\": { \"message\": \"Cancellation confirmed\", \"cancellationId\": \"CANC123\" } }",
						"{ \"queryId\": 1258, \"responseTime\": \"2024-06-15T14:31:05Z\", \"statusCode\": 500, \"body\": { \"error\": \"Internal server error\" } }"
					]
				},
				"properties": {
					"accommodation": {
						"$ref": "#/components/schemas/AccommodationDetailsOffer"
					},
					"notifications": {
						"items": {
							"$ref": "#/components/schemas/CommonNotification"
						},
						"title": "[Deprecated] Use a non-200 code response with ProblemResponse instead",
						"type": "array"
					},
					"rawRequests": {
						"description": "A list of unprocessed requests to the supplier system. If no external system is\ninvolved, the list is empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": [
							"{ \"queryId\": 1257, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"ABC123\", \"reason\": \"Client request\" }, \"requestTime\": \"2024-06-15T14:30:00Z\", \"success\": true }",
							"{ \"queryId\": 1258, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"XYZ789\", \"reason\": \"System error\" }, \"requestTime\": \"2024-06-15T14:31:00Z\", \"success\": false }"
						],
						"items": {
							"type": "string"
						},
						"type": "array"
					},
					"rawResponses": {
						"description": "A list of unprocessed responses from the supplier system. If no external system is\ninvolved, the list is empty. The list is sorted by request time, and any\nsensitive information, such as credentials, is redacted.",
						"example": [
							"{ \"queryId\": 1257, \"responseTime\": \"2024-06-15T14:30:05Z\", \"statusCode\": 200, \"body\": { \"message\": \"Cancellation confirmed\", \"cancellationId\": \"CANC123\" } }",
							"{ \"queryId\": 1258, \"responseTime\": \"2024-06-15T14:31:05Z\", \"statusCode\": 500, \"body\": { \"error\": \"Internal server error\" } }"
						],
						"items": {
							"type": "string"
						},
						"type": "array"
					}
				},
				"type": "object"
			},
			"AccommodationBookingRequest": {
				"description": "Books the accommodation offer if available. Use the offer reference provided \nby the `AccommodationAvailabilityRequest`.",
				"example": {
					"reference": "reference",
					"metadata": {
						"itineraryId": "1xinmvo5skro",
						"agencyId": "ABC12345"
					},
					"roomAllocation": [
						{
							"reference": 1,
							"paxes": [
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								},
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								}
							]
						},
						{
							"reference": 1,
							"paxes": [
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								},
								{
									"passportNumber": "C3045654",
									"lastName": "Riverdance",
									"address": {
										"country": "Germany",
										"city": "Littletown",
										"street": "132, My Street",
										"countryCode": "DE",
										"postalCode": "BG23 4YZ",
										"street2": "street2",
										"region": "region"
									},
									"gender": "Male",
									"supplierRefId": "supplierRefId",
									"passengerReduction": "passengerReduction",
									"secondOrAdditionalNames": [
										"secondOrAdditionalNames",
										"secondOrAdditionalNames"
									],
									"title": "MR",
									"birthDate": "1990-01-01",
									"firstName": "Mike",
									"nezasaRefId": "nezasaRefId",
									"nationality": "DE",
									"electronicContactDetails": {
										"website": "www.example.com",
										"phones": [
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											},
											{
												"mobile": true,
												"company": false,
												"landline": false,
												"fax": false,
												"value": "+41 44 123 45 67"
											}
										],
										"email": "mike.riverdance@example.com"
									},
									"passportIssuingCountryCode": "passportIssuingCountryCode",
									"isMainContact": true,
									"passportExpirationDate": "2030-01-01",
									"age": 30
								}
							]
						}
					],
					"contact": {
						"firstName": "Mike",
						"lastName": "Riverdance",
						"address": {
							"country": "Germany",
							"city": "Littletown",
							"street": "132, My Street",
							"countryCode": "DE",
							"postalCode": "BG23 4YZ",
							"street2": "street2",
							"region": "region"
						},
						"gender": "Male",
						"electronicContactDetails": {
							"website": "www.example.com",
							"phones": [
								{
									"mobile": true,
									"company": false,
									"landline": false,
									"fax": false,
									"value": "+41 44 123 45 67"
								},
								{
									"mobile": true,
									"company": false,
									"landline": false,
									"fax": false,
									"value": "+41 44 123 45 67"
								}
							],
							"email": "mike.riverdance@example.com"
						}
					},
					"lang": "de"
				},
				"properties": {
					"reference": {
						"description": "The `reference` of an offer returned from the availability call to be booked.",
						"type": "string"
					},
					"lang": {
						"$ref": "#/components/schemas/Language"
					},
					"roomAllocation": {
						"description": "The room reference refers to the room allocationReference returned by the availability \nresponse and assigns paxes to individual rooms.",
						"items": {
							"$ref": "#/components/schemas/RoomAllocation"
						},
						"title": "Expected room allocation",
						"type": "array"
					},
					"contact": {
						"$ref": "#/components/schemas/CommonContactDetails"
					},
					"metadata": {
						"$ref": "#/components/schemas/Metadata"
					}
				},
				"required": ["contact", "lang", "roomAllocation"],
				"title": "Book accommodation",
				"type": "object"
			},
			"AccommodationBookingResponse": {
				"description": "Response providing the result of an accommodation booking.",
				"example": {
					"booking": {
						"bookingReference": "SUNHOTEL-12345#SUNHOTEL-67890",
						"supplierReferences": [
							"[\"SUNHOTEL-12345\",\"SUNHOTEL-67890\"]",
							"[\"SUNHOTEL-12345\",\"SUNHOTEL-67890\"]"
						],
						"salesPrice": {
							"currency": "EUR",
							"value": "230.2"
						},
						"cancellationPolicy": {
							"rules": [
								{
									"startDatetime": "2023-08-01T00:00:00",
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"percentage": 50,
									"endDatetime": "2023-08-01T23:59:00"
								},
								{
									"startDatetime": "2023-08-01T00:00:00",
									"amount": {
										"currency": "EUR",
										"value": "230.2"
									},
									"percentage": 50,
									"endDatetime": "2023-08-01T23:59:00"
								}
							],
							"cancellationType": "Unknown"
						},
						"remarks": [
							{
								"language": "de",
								"text": "Check-in time at 15:00. Check-out time at 11:00.",
								"lang": "de"
							},
							{
								"language": "de",
								"text": "Check-in time at 15:00. Check-out time at 11:00.",
								"lang": "de"
							}
						],
						"status": "Booked"
					},
					"rawRequests": [
						"{ \"queryId\": 1257, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"ABC123\", \"reason\": \"Client request\" }, \"requestTime\": \"2024-06-15T14:30:00Z\", \"success\": true }",
						"{ \"queryId\": 1258, \"endpoint\": \"/cancelBooking\", \"parameters\": { \"bookingId\": \"XYZ789\", \"reason\": \"System error\" }, \"requestTime\": \"2024-06-15T14:31:00Z\", \"success\": false }"
					],
					"rawResponses": [
[...]
